<div class="container">
  <h1>Our increadible cocktails</h1>
    <div class="row">
      <% @cocktails.each do |cocktail|  %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card"
              style="background-image: linear-gradient(125deg, rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo %>')">
              <p><%= link_to cocktail.name, cocktail_path(cocktail), class: 'card-category' %></p>
          </div>
        </div>
      <% end %>
    </div>
