<div class="navbar-wagon">
  <div id="logo">
    <%= link_to image_tag("https://www.hennessy.com/sites/default/files/styles/370x495/public/holiday_3.jpg?itok=4Fb-aZeC"), cocktails_path %>

  </div>
  <div class="navbar-wagon-right">
    <%= link_to "Create a new cocktail", new_cocktail_path, class: "btn btn-success"%>
  </div>
</div>
